body {
    background-image: url('background.jpg');
    /* background-size: cover; Adjust to your needs */
    /* background-position: center; Adjust to your needs */
    background-repeat: no-repeat;
    font-family: Calibri;
    color: #7F7F7F;
}
